.right {
  background-color: green;
}
.wrong {
  background-color: red;
}
.table_image img{
  width: 100px;
  height: 100px;
}
.less {
  background-color: orange;
}
.more{
  background-color: rgb(88, 61, 187);
}
.some{
  background-color: orange;
}
td {
  border-radius: 6px;
  margin: 3px;

}