.right {
  background-color: green;
}
.wrong {
  background-color: red;
}
.table_image img{
  width: 100px;
  height: 100px;
}
.less {
  background-color: orange;
}
.more{
  background-color: rgb(122, 122, 49);
}
.some{
  background-color: rgb(129, 129, 58);
}
td {
  border-radius: 6px;
  margin: 3px;

}